Tereus.iws
/build/classes/*
/build/dependency-cache/*
/build/reports/*
/build/resources/*
/build/test-results/*
/build/tmp/*
.gradle/*
/bin/
/.settings/*
.classpath*
*npm-debug.log*
/src/main/resources/bindings/node_modules/*
/src/main/resources/web/node_modules/*
/src/main/resources/web/docs/*
/src/test/java/tereus/evaluation/aws_samples/definition/resources/npminstall/node_modules/*