Tereus.iws
build/*
.gradle/*
/bin/
.settings/org.eclipse.*
.classpath*
*npm-debug.log*
/src/main/resources/js/bindings/node_modules/*
/src/main/resources/web/node_modules/*
/src/main/resources/web/docs/*