Tereus.iws
/build/*
.gradle/*
/.idea/*
/out/*
/src/test/java/tereus/create/aws_samples/definition/resources/gradlebuild/build/*
/src/test/java/tereus/create/aws_samples/definition/resources/gradlebuild/.gradle/*
/src/test/java/tereus/create/aws_samples/definition/resources/gradlebuild/*.jar
/bin/
/.settings/*
.classpath*
*npm-debug.log*
/src/main/resources/bindings/node_modules/*
/src/main/resources/web/node_modules/*
/src/main/resources/web/docs/*
/src/test/java/tereus/evaluation/aws_samples/definition/resources/npminstall/node_modules/*